<div class="d-flex">
    <h1 class="flex-grow-1">
        Cadastrado com Suscesso!
    </h1>
</div>
<hr>

<p>
    Seu produto já está no sistema
</p>

<a asp-action="listar" class="btn btn-light"> Voltar para lista</a>