@model Produto;

<div class="d-flex mb-5">
    <h1 class="flex-grow-1">
        Apagar Produto
    </h1>
</div>
<hr>

<h3>Tem certeza de que deseja apagar o produto @Model.Nome?</h3>

<form asp-controller="Produtos" asp-action="ConfirmarParaApagar" method="post" class="form-group mt-5">
    <input type="hidden" asp-for="ProdutoId"/>
    <button class="btn btn-primary"> Apagar</button>
    <a asp-action="listar" class="btn btn-light"> Cancelar</a>
</form>